#contactSection {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;

  background-image: url('/img/imgfaixa.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--hover);
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    justify-content: center;
    gap: 15px;
  }

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .contactTitle {
    color: var(--bg_card);
  }
  .white {
    border: 1px solid var(--bg_card);
    border-radius: 10px;

    &:hover {
      border: 1px solid var(--hover);
    }
  }
}
