#main_Home {
  width: 100%;
  text-align: center;
}
#main_Home h2 {
  font-size: 3rem;
  color: var(--secondary_color);
}
#main_Home p {
  font-size: 2rem;
}
#main_Home .container_atuacao {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}
#main_Home .atuacao_Card {
  width: 350px;
  min-height: 600px;
  border: 1px solid var(--hover);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#main_Home .atuacao_Card .img_card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#main_Home .atuacao_Card .info_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
}
#main_Home .atuacao_Card .info_card h3 {
  font-size: 2rem;
}
#main_Home .atuacao_Card .info_card p {
  font-size: 1.6rem;
  text-align: left;
  padding: 0 5px;
}
#main_Home .atuacao_Card .info_card a {
  font-size: 1.6rem;
  background-color: var(--secondary_color);
  padding: 5px 0;
  display: inline-block;
  color: var(--bg_card);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#main_Home .atuacao_Card .info_card a:hover{
  color: var(--hover);
}