#button_contact {
  background-color: var(--hover);
  color: var(--secondary_color);
  border: 1px solid var(--hover);
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 300ms ease-in-out;

  &:hover {
    color: var(--primary_color);
    background-color: var(--secondary_color);
  }

  a {
    color: var(--secondary_color);
    padding: 10px 20px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--primary_color);
    }
    svg {
      font-size: 1.9rem;
    }
  }
}
