#headerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 60px;
  min-height: 100vh;
  margin-bottom: -60px;

  background-image: url('/img/imgHeaderHome.jpg');
  background-position: center;
  background-size: cover;
  background-color: var(--bg_card);

  div {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 4rem;
      text-align: center;
      text-align: center;
    }
    p{
      font-size: 2rem;
      text-align: center;
    }
    .headerContent {
      color: var(--bg_card);
    }
  }
}
